<section class="bg-white py-12">
  <div class="mx-auto max-w-6xl px-4">
    <!-- Header -->
    <div class="flex flex-col gap-2">
      <h2 class="text-xl font-semibold text-slate-900 md:text-2xl">
        Live Products
      </h2>
      <p class="text-sm text-slate-600 md:text-base">
        These products are actively collecting orders. Join others to unlock better prices!
      </p>
    </div>

    <!-- Cards / Skeleton -->
    @if (productsListApiLoading()) {
    <!-- skeletons use the SAME grid container as cards -->
    <div class="mt-8 grid gap-8 sm:grid-cols-2 lg:grid-cols-3">
      <bulkly-product-card-loader />
      <bulkly-product-card-loader />
    </div>
    } @else {
    <div class="mt-8 grid gap-8 sm:grid-cols-2 lg:grid-cols-3">
      @if (productsList()?.length > 0) {
      @for (item of productsList(); track item.productId) {
      <bulkly-product [product]="item" />
      }
      }@else {
      <p>No Products available...</p>
      }
    </div>
    }
  </div>
</section>